<!DOCTYPE html>
<html>
    <head>
        <title> Mongo Scraper</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/solar/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Barriecito|Dancing+Script&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/styling.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>