body{
    font-family: 'Barriecito', cursive;
}
h3,.panel-default>.panel-heading{
    color:white;
    background-color:rgb(213, 14, 123);
}
.navbar-inverse .navbar-brand:hover{
    background-color:purple;
}
a{
    background-color: rgb(230,112,177);
    color: white;
}
a.btn.btn-success.save{
    background-color: rgb(237,43,141);
}
a.btn.btn-danger.delete,a.btn.btn-info.notes{
    background-color: rgb(237,43,141);
}
a.btn.btn-success.save:hover{
    background-color: purple;
}
a.btn.btn-danger.delete,a.btn.btn-info.notes:hover{
    background-color: purple;
}
button.btn.btn-success.save{
    background-color:purple;
}
.btn-primary:hover, .btn-primary:active:hover{
    background-color: purple;
}
.btn-primary:active{
    background-image: radial-gradient(circle, #843960 10%, #aa4caf 11%) !important;
}
.btn-success:active{
    background-image: radial-gradient(circle, #843960 10%, #aa4caf 11%);
}
.btn{
    background-color: rgb(230,112,177);
    color: white;
    margin-left: 10px;
}
.btn:hover{
    background-color: purple;
    color: white;
}
.nav.navbar-nav,a.btn.btn-danger.scrape-new{
    font-size: 20px;
}
.panel-body{
    font-size:18px;
    color:purple;
}
.navbar-inverse .navbar-nav>.active>a:hover{
    background-color: purple;
    color: white;
}
.navbar-inverse .navbar-nav>li>a:hover{
    background-color: purple;
    color: white;
}
.container-fluid {
    background-image: url("https://wallpapertag.com/wallpaper/full/9/7/1/733417-large-polish-wallpapers-1920x1080.jpg");
    padding: 40px;
   
}
.navbar-inverse .navbar-nav>.active>a{
    background-color: rgb(230,112,177); 
    color:white;
}
.navbar-inverse .navbar-nav>li>a {
    color:white;
    
}
.container-fluid.article-container{
    background-image: url("https://wallpapertag.com/wallpaper/full/9/7/1/733417-large-polish-wallpapers-1920x1080.jpg");
    padding:80px;
}
div.jumbotron.text-center{
    padding: -10px;
    background-color: #D50E7B
}
footer{
    padding:50px;
}
.footer-container{
    margin-top:-48px;
}
div.alert.alert-warning.text-center{
    background-color:purple
}
a.btn.btn-danger.scrape-new {
    background-color: purple
}
.navbar-inverse .navbar-brand{
    background-color: rgb(230,112,177);
    color: white;
    font-size: 25px;
    